html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
}

.container {
  flex-basis: 900px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.4;
  padding: 10px;
}

